* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(images/bg-mobile.svg);
  background-color: hsl(257, 40%, 49%);
  background-position: -5rem;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", "Open Sans";
  max-height: 100vh;
}

.container {
  padding: 45px;
  display: flex;
  flex-direction: column;
}

.logo-container {
  height: fit-content;
}

.logo {
  height: 2.2rem;
}

.img-container {
  height: fit-content;
  margin: 80px 0 80px 0;
}

.mockup-img {
  max-inline-size: 100%;
}

.heading {
  font-weight: 600;
}

.text {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  height: fit-content;
}

.paragraph {
  margin: 5px 0 25px 0;
  font-family: "Open Sans";
  font-size: 0.94rem;
  font-weight: 400;
  line-height: 1.5;
}

.button {
  width: 65.5%;
  height: 35px;
  border-radius: 50px;
  border: none;
  font-family: Poppins;
  font-size: 0.77rem;
  background: white;
  color: hsl(257, 40%, 49%);
}

.button:hover {
  cursor: pointer;
  background: hsl(300, 69%, 71%);
  color: white;
}

.socials {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: fit-content;
  transform: translateY(-50px);
}

.link {
  margin-right: 10px;
  height: fit-content;
}

.link > img {
  width: 35px;
  height: 35px;
}

.link > img:hover {
  cursor: pointer;
  filter:             /* shout out to cssfilterconverter.com */
    brightness(0) 
    saturate(100%) 
    invert(72%) 
    sepia(58%) 
    saturate(708%) 
    hue-rotate(245deg) 
    brightness(96%) 
    contrast(90%)
}

@media screen and (min-width: 600px) {
  body {
    background: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-position: -5rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    flex-direction: row;
    margin: 0;
    padding-left: 55px;
  }
  .logo {
    height: 2.9rem;
  }
  .img-container {
    transform: translate(-185px, 100px);
    height: fit-content;
    margin: 0;
  }
  .mockup-img {
    max-inline-size: 45vw;
  }
  .text {
    transform: translate(-130px, 135px);
    text-align: left;
  }
  .heading {
    font-size: 1.9rem;
    padding-right: 10px;
  }
  .paragraph {
    font-size: 0.9109rem;
    margin: 19px 0 21px 0;
  }
  .button {
    width: 38%;
    height: 45px; 
    font-size: 0.83rem;
  }
  .socials {
    transform: translate(1030px, 50px);
    margin: 0;
    width: fit-content;
  }
  .link {
    margin-right: 17px;
  }
  .link > img {
    width: 45px;
    height: 45px;
  }
}
